name: Create release and upload artifacts

on:
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Build release artifacts, create release and upload artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          # https://github.com/actions/go-versions/blob/main/versions-manifest.json
          go-version: "stable"

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5.0.0

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Build
        run: |
          GOOS=linux   GOARCH=amd64 CGO_ENABLED=0 go build -v ./cmd/certyaml && tar zcvf certyaml-linux-amd64.tar.gz  certyaml && rm certyaml
          GOOS=darwin  GOARCH=amd64 CGO_ENABLED=0 go build -v ./cmd/certyaml && tar zcvf certyaml-darwin-amd64.tar.gz certyaml && rm certyaml
          GOOS=darwin  GOARCH=arm64 CGO_ENABLED=0 go build -v ./cmd/certyaml && tar zcvf certyaml-darwin-arm64.tar.gz certyaml && rm certyaml
          GOOS=windows GOARCH=amd64 CGO_ENABLED=0 go build -v ./cmd/certyaml && zip      certyaml-windows-amd64.zip   certyaml.exe && rm certyaml.exe

      # https://github.com/softprops/action-gh-release
      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          draft: true
          files: |
            certyaml-linux-amd64.tar.gz
            certyaml-darwin-amd64.tar.gz
            certyaml-darwin-arm64.tar.gz
            certyaml-windows-amd64.zip
