name: unit-tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # https://github.com/actions/go-versions/blob/main/versions-manifest.json
          go-version: "stable"
        id: go

      - name: golangci-lint
        uses: ./.github/actions/golangci-lint

      - name: Build
        run: make build

      - name: Unit tests
        run: make test
